<aside class="sidebar">
    <div class="sidebar-widget">
        <h3>Categorías</h3>
        <ul class="category-list">
            <li><a href="/productos">Todos</a></li>
            <li><a href="/productos?categoria=Tecnología">Tecnología</a></li>
            <li><a href="/productos?categoria=Hogar">Hogar</a></li>
            <li><a href="/productos?categoria=Oficina">Oficina</a></li>
        </ul>
    </div>
    
    <!-- Block para widgets adicionales -->
    <%- block('sidebar-widgets') %>
</aside>