<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Centro de Emprendimiento</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav ms-auto align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link" href="#inicio">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#servicios">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#programas">Programas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contacto">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sign-out">Salir</a>
        </li>

        <!-- Botón Login -->
        <li class="nav-item ms-lg-3 mt-2 mt-lg-0">
          <a href="/sign-in" class="btn btn-outline-light">
            Iniciar sesión
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
