<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= typeof siteTitle !== 'undefined' ? siteTitle : 'Título por defecto' %></title>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/dist/vendor.min.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/dist/web.css">
    <%- block('styles').toString() %>
  </head>
  <body>
    <%- body -%>
    <script src="http://localhost:3000/dist/vendor.js"></script>
    <%- block('scripts').toString() %>
  </body>
</html>