<% layout('layouts/web.ejs') -%>

<div class="container-fluid">
  <div class="header-route">
    <h3 class="mb-4">
      <i class="fa fa-map-marker me-2"></i>
      <a href="/">Administración </a> / <a href="/">Datos Maestros </a> / Gestión de Locaciones </h3>
  </div>
</div>

<% block('styles').append(`

`) %>

<% block('scripts').append(`
  
`) %>