/* src/stylesheets/styles.css */
body {
  overflow-x: hidden;
  background-color: #fff;
}

#sidebar {
  width: 250px;
  min-height: 100vh;
  transition: all 0.3s;
  background-color: var(--bs-primary) !important;
}

#sidebar.collapsed {
  margin-left: -250px;
}

#content {
  transition: all 0.3s;
  width: 100%;
  padding-top: 80px !important;
}

.sidebar-link {
  padding: 10px 15px;
  display: block;
  color: #fff;
  text-decoration: none;
}

.sidebar-link:hover {
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

.sidebar-link-active{
  background-color: #fff;
  color: black !important;
}

.sidebar-module {
    padding: 10px 15px;
}

.module-title {
    font-weight: 600;
    padding: 8px 0;
}

.module-items {
    padding-left: 15px;
    margin-top: 5px;
}

.sidebar-link {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 5px 0;
    font-size: 0.9rem;
}

.sidebar-module-link {
    display: block;
    padding: 12px 15px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.sidebar-module-link:hover {
  background-color: rgba(255,255,255,0.1);
  color: white;
}
