/* src/stylesheets/styles.css */
body {
  overflow-x: hidden;
  background-color: var(--bs-primary-bg-subtle) !important;
}

#sidebar {
  width: 250px;
  min-height: 100vh;
  transition: all 0.3s;
  background-color: var(--bs-primary) !important;
}

#sidebar.collapsed {
  margin-left: -250px;
}

#content {
  transition: all 0.3s;
  width: 100%;
  padding-top: 80px !important;
}

.sidebar-link {
  padding: 10px 15px;
  display: block;
  color: #fff;
  text-decoration: none;
}

.sidebar-link:hover {
  background-color: var(--bs-primary-bg-subtle) !important;
}