<% layout('layouts/web.ejs') -%>
<h1>I am the  template</h1>

<% block('head').append(`
    <link rel="stylesheet" type="text/css" href="/foo.css">
    <link rel="stylesheet" type="text/css" href="/foo2a.css">
    <link rel="stylesheet" type="text/css" href="/foo3a.css">
    <link rel="stylesheet" type="text/css" href="/foo5a.css">
`) %>

<% block('scripts').append(`
    <script>
        alert('XD');
    </script>
`) %>